<style>
			h1 {
				text-align: center;
				font-size: 30px;
			}
</style>

<h1>Login Page</h1>

<% if flash[:notice] %>
  <%= content_tag :h2, flash[:notice] %><p  style="color:red">please give valid user_id or password and register first  for login </p>
<% else %>
  <%= content_tag :h1, "please login for exam" %>
<% end %>

<%= form_tag logedin_path do %>
<%= label_tag :email%><br>
<%= text_field_tag :email%><br><br>
<%= label_tag :password%> <br>
  <%= password_field_tag :password %><br><br>
  <%= link_to "Sign Up", new_student_path %><br>
  <%= submit_tag "SignIn" %><br>
<% end %>

<%= link_to 'Back', root_path %>
