<h1>Exam Create Successfull</h1>

<p>
  <strong>subject</strong>
  <%= @exam.subject %>
</p>
 
<p>
  <strong>total_marks:</strong>
  <%= @exam.total_marks %>
</p>
<p>
  <strong>per_que_mark:</strong>
  <%= @exam.per_que_mark %>
</p>
 
<p>
  <strong>time_duration:</strong>
  <%= @exam.time_duration %>
</p>
<p>


<%= link_to 'Edit', edit_exam_path(@exam) %> <br>
<%= link_to 'Back', root_path %>